.conteudo{
    position: relative;
    
    display: flex;
    align-self: start;
    justify-content: flex-end;
}

.backgroundImg{
    height: 100vh;
    position: absolute;
    left: 0;
}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}